# JetBrains project files
.idea

# NPM
node_modules

# NativeScript application
hooks
platforms

environments

# Firebase
google-services.json

# Assets
app/App_Resources/iOS/Assets.xcassets/
background.png
icon.png
logo.png
!app/assets/images/logo.png
