// All reusable chunks of css go here

// Backgrounds

.orange {
  background-color: $orange;
}

.cyan {
  background-color: $cyan;
}

.yellow {
  background-color: $yellow;
}

.grey {
  background-color: $grey;
}

.blue {
  background-color: $blue;
}

// Text

.text-orange {
  color: $orange;
}

.text-cyan {
  color: $cyan;
}

.text-yellow {
  color: $yellow;
}

.bold {
  font-weight: bold;
}

// Colors to customize app

.backgroundColorApp {
  background-color: $violet;
}

.panelBackgroundColorApp {
  background-color: $dark-violet;
}

.panelIconColorApp {
  tab-active-color: $purple;
}

.primaryTextColorApp {
  color: $purple;
}

.secondaryTextColorApp {
  color: $white;
}
