// NativeScript core theme
// @see https://docs.nativescript.org/ui/theme
@import '~nativescript-theme-core/scss/skins/dark/index';
@import '~nativescript-theme-core/scss/index';

// COLORS
$cyan: #32DAC4;
$orange: #E7511E;
$yellow: #f9ce35;
$grey: #282928;
$blue: #000028;
$white: #ffffff;
$violet: #432f4f;
$dark-violet: #1a121f;
$red: #E60000;
$purple: #E500A2;
$darkgreen: #005544;

@import 'mixins';

.mdi {
  font-family: MaterialDesign, materialicons;
}

.sci {
  font-family: Socicon, Socicon;
}
// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling
