// NativeScript core theme
// @see https://docs.nativescript.org/ui/theme
@import '~nativescript-theme-core/scss/skins/dark/index';
@import '~nativescript-theme-core/scss/index';

// COLORS
$cyan: #32DAC4;
$orange: #F63E00;
$yellow: #f9ce35;
$grey: #282928;
$blue: #000028;

@import 'mixins';

.mdi {
  font-family: MaterialDesign, materialicons;
}

.sci {
  font-family: Socicon, Socicon;
}
// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling
